.newHorse {
    width: inherit;
}

.horse-form {
    width: 50%;
}

.newRace {
    margin-top: 2em;
    margin-left: 2em;
    width: 25em;
}

mat-divider {
    margin-top: 1em;
    margin-bottom: 1em;
}